#userImg {
  margin-top: 1em;
  width: 10em;
  height: 10em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#profPic {
  display: none;
}

h3 {
  text-align:left;
}

.form-control {
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.btnUserSubmit {
  margin-top: 5%;
  width: 20%;
}


