#UserPic {
  max-width: 75%;
}

#user p {
  margin-top: 0.5%;
  font-size: small;
}

#user {
  /* margin-left: -5%; */
  max-width: 40%;
}

#itinerary {
  margin: 5% 0;
}

#details {
  margin-top: 3%;
  /* padding-right: 20%; */
  padding-left: 0;
}

#details h3 {
  font-size: medium;
}

#details li {
  font-size: small;
  margin: 0 1em;
}

#tags ul {
  margin: 5% 0;
  float: left;
}

#btnDet {
  width: 80%;
  margin: 0 auto;
}
