#cityHeader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 8rem;
  padding: 0;
  width: 100%;
  border-bottom: 2rem;
  box-shadow: 0 0 10px 0;
}

#cityHeader h3 {
  margin: 0;
}

#cityTitle {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.6); 
  color: white;
  font-weight: bold;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 8.5%;
  left: 50%;
  width: 100%;
}