.App {
  text-align: center;
  margin-top: 1em;
}

.App-logo {
  max-width: 95%;
  margin-bottom: 8%;
}

.GoArrow {
  max-width: 40%;
}

p {
  margin: 10%;
}

.LeftLink {
  float: left;
  margin-left: 18%;
}

.RightLink {
  float: right;
  margin-right: 14%;
}

.App-link {
  color: #09d3ac;
}

NavButton {
  margin-top: 5%;
}
